.error-404 {


.page-header{
    .page-title{
        color: white;
        font-family: 'Exo Medium';
        
        
    }
    
}

.page-content{
    p{
        color: white;
        font-family: 'Exo Light';
}
}
}