.error-404 {

    margin-left: -450px;
    // margin-right: 100px;
.page-header{
    .page-title{
        color: white;
        font-family: 'Exo Medium';
        
        
    }
    
}

.page-content{
    p{
        color: white;
        font-family: 'Exo Light';
}
}
}