.site-content{
    .content-area{
        .site-main{
            .entry-header{
                h1{
                    color:white;
                }
            }
            .entry-content{
                p{
                    color:white;
                }
                .quotes{
                    color:#00cc00; 
                }
            }
        }
    }
}