.site-content{
    .content-area{
        .site-main{
            .entry-header{
                h1{
                    color:white;
                    font-family: 'Exo Medium';
                    margin-left: -100px;
                    
                }
            }
            .entry-content{
                margin-left: -100px;
                margin-right: 40px;
                p{
                    color:white;
                    font-family: 'Exo Light';
                    
                }
                .quotes{
                    color:#00cc00; 
                   
                }
            }
        }
    }
}