.archive-container{
    margin-bottom: 400px;
    h2, h3{
    font-family: 'Exo Light';
    color: white;
    margin-left: 20px;

    }
    a{
        font-family: 'Exo Light';
        color: #00cc00;
        margin-left: 20px;
        text-decoration: none;
    }
   
    ul{
        list-style-type: none;
        display:inline;
        }
        li{
            float:left;
            
    }
}

//Category Page

.page-title {
    color: white;
}

.category-content{
    margin-bottom: 200px;
    h3, p{
        color: white;
        font-family: 'Exo Light';
    }
    ul {
        
        display: inline;
        list-style-type: none;
        color: white;
    }
    a{
        text-decoration: none;
        color: white;
    }
}
